.detail {
  margin-top: 75px;
  width: 100%;
  padding: 5% 7%;
  /* height: 500vh; */
  background-color: rgba(251, 251, 251, 255);
}

.image-display {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}
/* ===============IMAGE DISPLAY=============== */
.image-gallery-image img {
  width: 500px; /* Điều chỉnh độ rộng */
  height: 300px; /* Điều chỉnh chiều cao */
  object-fit: cover; /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
}
.custom-image {
  width: 1000px; /* Điều chỉnh chiều rộng mong muốn cho hình ảnh gốc */
  height: 600px; /* Điều chỉnh chiều cao mong muốn cho hình ảnh gốc */
}
.main {
  text-align: center;
  margin-top: 30px;
}
.flex_row {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.thumbnail {
  padding-left: 20px;
}
.clicked {
  border: 5px solid black;
}
.btns {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: grey;
}
.image-big-display {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

/* ============================== */

.product-info {
  position: relative;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 20px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}
.product-info-location {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
.product-info-price {
  color: rgb(4, 156, 244);
  font-size: 30px;
  font-weight: 600;
}
.product-info-more-info {
  display: flex;
  gap: 10px;
}
.product-info-more-info-2 {
  font-weight: 500;
}
.product-info-option {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
}
.product-info-options {
  background-color: rgba(242, 245, 247, 255);
  padding: 5px 10px;
  border-radius: 2px;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}
.product-info-contact {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  width: 400px;
}
.product-info-contact-compare {
  width: 200px;
}
.product-info-contact-count {
  width: 200px;
}
.product-info-contact-counts {
  display: inline-block;
  margin-left: 10px;
}
.product-book {
  margin-top: 20px;
  position: relative;
  background-color: rgba(235, 244, 250, 255);
  padding: 10px 20px;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 20px;
}
.book-button {
  display: inline-block;
  background-color: rgba(2, 154, 242, 255);
  width: 49%;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}
.price-paid {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 49%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
}
.product-more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.product-more-info-result {
  padding: 12px;
  background-color: rgba(240, 248, 252, 255);
  font-weight: bold;
}
.product-info-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}
.detail-button {
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid black;
  /* padding: 5px 20px;
  text-align: center;
  background-color: rgba(216, 239, 255, 255);
  color: rgba(54, 153, 234, 255);
  border-radius: 10px;
  font-weight: 700;
  margin-right: 10px; */
}
.describe-button {
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid black;
}
.onclick {
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(216, 239, 255, 255);
  color: rgba(54, 153, 234, 255);
  border-radius: 10px;
  font-weight: 700;
  border: none;
}
.product-more-detail {
  border: 1px solid rgb(186, 180, 180);
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.block-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; /* Để ẩn đi các góc bên trong bảng */
}

.block-table th,
.block-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d1d1d1;
}

/* .block-table th:first-child,
.block-table td:first-child {
  border-left: 1px solid #ccc;
}

.block-table th:last-child,
.block-table td:last-child {
  border-right: 1px solid #ccc;
} */

.block-table tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
  /* font-size: large;
  font-style: oblique; */
}
.block-table tbody tr td:nth-child(even) {
  /* background-color: aqua; */
  color: black;
  font-weight: 650;
  font-size: 17px;
}
.block-table tbody tr td:nth-child(odd) {
  font-weight: 500;
  font-size: 17px;
  color: #878787;
}
.block-table tbody {
  background-color: rgb(255, 255, 255);
}
.block-table {
  padding: 20px;
}
.product-describe-more {
  border-radius: 10px;
  padding: 20px 20px 50px 20px;
  background-color: rgba(240, 248, 252, 255);
}
.product-describe-more-more {
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.product-AI {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  gap: 20px;
  font-weight: 500;
}
.product-AI-ask {
  /* display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 10px; */
  font-size: 12px;
  font-weight: 600;
}
.ask-AI {
  background-color: rgb(223, 221, 221);
  border-radius: 10px;
  padding: 2px 8px;
}
